<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body style="background-color:cyan">
    <center>
        <h4>jinja printing</h4>
        <h1>We are printing the data which is coming from BE to FE</h1>
         
        
        <!-- {% if age > 5%} 
          <h1>{{name}}</h1>
            <h1>{{age}}</h1>

            {%else%}
            <h2>Ur age is not sufficient for this app</h2>
        {% endif%}  -->


        {% if age < 5%} 
        <h1>{{name}}</h1>
          <h1>{{age}}</h1>

          {%else%}
          <h2>Ur age is not sufficient for this app</h2>
      {% endif%} 


    </center>
</body>
</html>